@media (max-width:1024px) {
    .flex-container  {
        flex-direction: column;
    }
    .right-block {
        display: flex;
        flex-direction: row;
        column-gap: 129px;
    }
    .text-descr,
    .text-block {
        max-width: 415.5px;
        width: 100%;
    }
    .left-block,
    .right-block {
        width: 100%;
    }
}

@media (max-width:744px) {
    .right-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
